*{
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/IMG-Dashboard\ \(2\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  #returnToLoginPage
  {
    position: relative; /* أو relative حسب حاجتك */

    width: 70px;
    padding: 10px;
    border-radius: 10px;
    left: 0px; 
    cursor: pointer;
  }


  #Task-Section
  {
    position: relative;
    top: 30%;
    width: 100%;
    height: 50%;
  }

  #Title-Task
  {
    position: relative;
    justify-self:center;
    color: white;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
  }

  input#Reading-Task {
    position: relative;
    padding: 7px;
    border-radius: 10px;
    justify-self: center;
    display: flex;
    transition :transform 0.8s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    outline: none;
  } 
  input#Reading-Task:hover
  {
    transform: translateY(10px);
  }

  #Add-Task
  {
    position: relative;
    display: flex;
    justify-self: center;
    top: 15px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  #Add-Task:hover
  {
    background-color: #526D82;
  }
  

  #Task-List
  {
    position: relative;
    top: 20px;
    display: block;
    background-color: rgba(240, 248, 255, 0.391);
    width:500px;
    height: 400px;
    justify-self:center;
    border-radius: 20px;

  }

  #Task-List ul 
  {    
    padding: 10px;
    margin: 10px;
    font-size: 18px;
  }